@use "../variables/colors" as c;
@use "../variables/fonts" as f;
@use "../mixins/media" as m;

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5em;
  align-items: flex-end;
  h1 {
    font-family: f.$primary-text;
    font-size: 4em;
    color: c.$primary-color;
    line-height: 1.1;
    margin-bottom: 0.5em;

    .hero__name {
      &--green {
        color: c.$color-green;
      }

      &--yellow {
        background: radial-gradient(circle, dodgerblue, yellow);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        animation: gradient 5s linear infinite;
      }

      &--red {
        color: #ff6b6b;
      }
      &--red::after {
        content: "_";

        color: c.$primary-color;

        animation: blink 0.8s infinite;
      }
    }
  }

  p {
    font-size: 0.9rem;
    color: c.$secondary-color;
    max-width: 600px;
    line-height: 1.6;
  }

  @include m.breakpoint(desktop) {
    padding: 5rem;
    p {
      font-size: 1em;
      margin-left: 10em;
    }
    .hero__name--typing {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      animation:
        typing 9s steps(13) infinite,
        cursor 0.8s infinite;
      background-color: blue;
      border-right: 3px solid white;
    }
  }
  @include m.breakpoint(largescreen) {
    padding: 10em;
    h1 {
      font-size: 5em;
    }
    p {
      font-size: 1.5em;
    }
  }
}

@keyframes typing {
  0% {
    width: 0;
  }

  40% {
    width: 13ch;
  }

  80% {
    width: 13ch;
  }

  100% {
    width: 0;
  }
}
@keyframes highlight {
  0% {
    left: -100%;
  }

  40% {
    left: 0;
  }
  80% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
